# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

# Used for VS Code
current_job.code-workspace

# Remove Specific Pages
_talks/2013-03-01-tutorial-1.md

#Remove Specific folders
_posts/
_teaching/